<div class="nav-right">
  <header>
  <nav id="small">
    <!-- <img src="images/tech1.png" id="4tech-logo1"> -->
    <ul>
      <li>
        <a href="#/" class="nava">WEB</a>
      </li>
      <li>
        <a href="#!/" class="nava">OUR WORK</a></li>
      <li>
        <a href="#!/about" class="nava">ABOUT</a></li>
      <li>
        <a href="#!/contact" class="nava">CONTACT</a>
      </li>
      <li >
          <img src="images/phone-icon.png" id="contact-num">
    <a href="#!/contact" class="nava1">770-838-9910</a>
      </li>
    </ul>
  </nav>
  </div>
</header>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


<div class="layout-page-wrapper">
<div id="content" ui-view>
  <div class="type-text">
    <h1>We specialize in
  <span
     class="txt-rotate"
     data-period="1000"
     data-rotate='[ "Website Development.", "Creative Design.", "Digital Marketing.", "Branding & Design." ]'>

 </span>
</h1>
  </div>
  ?
  <div class="layout-wrapper">
    <!-- <img src="images/WEBSITE.png" id="web-img"> -->
    <div class="general-text">
      <h1 id="Web">Website Design</h1>
      <h2 id="Web-text2">Digital Marketing</h2>
      <h3 id="Web-text3">With satisfying Results</h3>
      <p>We're a multi media production agency focused on creative and results-driven solutions for small businesses .
  </div>
  </div>
  <a href="#!/contact" class="nava"><div class="content-text-div">
    <h1 class="content-text2">
     GET STARTED
  </div></a>
  <!-- <div class="business-div">
    <h1 class="business-div-text">
      Need Help Developing A Captivating Web Design?
    </h1>
    <!-- <h1 class="business-div-text-2">Atlanta Web Design & Internet Marketing Agency</h1> -->
<!-- <h1 class="business-div-text-3">  Our Mission Is Helpe Develop & Market Local Businesses</h1> -->
  </div>
  <div class="ed">
    <video controls autoplay muted loop>

    <source src="video/New.mp4" type="video/mp4">
            </video>
          </div>
    <div class="business-div-wrapper">
  <div class="business-div-2">
      <span class="business-div-title">Social Media & Advertising</span>
    <img src="images/social.jpeg" id="business-img">
</div>
<div class="business-div-3">
    <span class="business-div-title">Digital Marketing & Strategy
</span>

  <img src="images/Brand.jpg" id="business-img">
</div>
<div class="business-div-4">
  <span class="business-div-title">Web Design & Development</span>
  <img src="images/apple.jpeg" id="business-img">
</div>
</div>
<!-- <video preload="auto" autolay loop muted>
  <source src="video/New.mp4" type="video/mp4">
          </video> -->
</div>
